{% extends "base.html" %}

{% block section%}
    <form action="../modositrogzit/" method="post" class="bg-warning mb-5 mt-5 p-3">
        {% csrf_token %}
        <p>
            <input type="hidden" name="modositId" value="{{modositando.id}}"><br>
            <label for="modositNev">Felvételiző neve:</label>
            <input type="text" class="form-control" name="modositNev" value="{{modositando.nev}}">
        </p>
        <p>
            <label for="modositSzul_evszam">Születési évszám:</label>
            <input type="number" class="form-control" name="modositSzul_evszam" value="{{modositando.szul_evszam}}" required>
        </p>
        <p>
            <label for="modositPontszam">Megszerzett pontok száma:</label>
            <input type="number" class="form-control" name="modositPontszam" value="{{modositando.pontszam}}" required>
        </p>
        <p>
            <label for="modositSzak">Választott szak megnevezése:</label>
            <select class="form-select" name="modositSzak">
                {% for szak in szakok %}
                    <option value="{{modositando.szak.id}}" {% if modositando.szak.id == szak.id %} selected{% endif %}>
                        {{szak.szakNev}}
                    </option>
                {% endfor %}
            </select>
        </p>
        <input type="submit" class="btn btn-success m-4"  value="Módosítás">
    </form>
{% endblock section%}