{% extends "base.html" %}

{% block section%}
    <form action="../ujadatrogzit/" method="post" class="bg-light mb-5 mt-5 p-3">
        {% csrf_token %}
        <p>
            <label for="ujadatNev">Felvételiző neve:</label>
            <input type="text" class="form-control" name="ujadatNev" id="ujadatNev" required>
        </p>
        <p>
            <label for="ujadatSzul_evszam">Születési évszám:</label>
            <input type="number" class="form-control" name="ujadatSzul_evszam" id="ujadatSzul_evszam" required>
        </p>
        <p>
            <label for="ujadatPontszam">Megszerzett pontok száma:</label>
            <input type="number" class="form-control" name="ujadatPontszam" id="ujadatPontszam" required>
        </p>
        <p>
            <label for="ujadatSzul_evszam">Választott szak megnevezése:</label>
            <select name="ujadatSzak" id="ujadatSzak">
                {% for szak in szakok %}
                    <option value="{{szak.id}}">
                        {{szak.szakNev}}
                    </option
                {% endfor %}
            </select>
        </p>
        <input type="submit" class="btn btn-warning m-4" value="Rögzítés">
    </form>
{% endblock section%}