{% extends "base.html" %}

{% block section%}
    <form action="../ujszakrogzit/" method="post" class="bg-warning mb-5 mt-5 p-3">
        {% csrf_token %}
        <p>
            <label for="ujSzakNev">Szakágazat neve: </label>
            <input type="text" class="form-control" name="ujSzakNev" id="ujSzakNev" required>
        </p>
        <p>
            <label for="ujSzakkoltseg" class="form-check-label">A szak költségtérítéses: </label>
            <input type="checkbox" class="form-check-input" name="ujSzakkoltseg" id="ujSzakkoltseg">
        </p>
        <input type="submit" class="btn btn-success m-4" value="Rögzítés">
    </form>
{% endblock section%}